.todo-list-container {
    max-width: 400px; 
    margin: auto;
  }
  
  .header {
    background: linear-gradient(to bottom, #747474, #4a4848);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .title {
    font-size: 18px;
  }
  
  .add-button {
    background: #444;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  